 
node_modules/
package-lock.json

 
.next/
out/

 
.env
.env.local
.env.development
.env.production

 
firebase/config.js  

 
.DS_Store
Thumbs.db

 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

 
.vscode/
.idea/
*.log

 
*.swp
*.swo
